<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="{{vm.guesser.title}}"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <small>{{vm.guesser.description}}</small>
                        </div>

                        <div>
                            <button data-ng-click="vm.clear()">Clear</button>
                        </div>
                        <div class="widget-content">
                            Logged in : <br />
                            <ul ng-repeat="user in vm.users">
                                <li>{{user.Name}} vote: {{user.Vote}} ready:{{user.ready}}</li>
                            </ul>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>